<div class="flex justify-between items-center p-5">
  <div class="text-blue-500 text-3xl"><%= link_to 'PaiLovers', root_path %></div>
  <div class="text-blue-500 text-white">
    <%= link_to '新規登録', new_user_registration_path, class: 'p-2 mr-2 bg-green-400 rounded text-white hover:bg-gray-400 hover:text-gray-800' %>
    <%= link_to 'ログインする', new_user_session_path, class: 'p-2 bg-blue-400 rounded text-white hover:bg-gray-400 hover:text-gray-800' %>
  </div>
</div>
